# See http://help.github.com/ignore-files/ for more about ignoring files.

# docker
/docker/todo-app/todo-api/src
/docker/todo-app/mongo
/docker/todo-app/nginx/configs
/docker/todo-app/todo/src
/docker/todo-app/env
# environment varibles
/env

# generated output
# /tools/schematics/todo.openapi.json
/libs/todo/data-access/todo-api-client/src/lib
/libs/shared/data-access/auth-api-client/src/lib
/libs/shared/data-access/user-api-client/src/lib

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
